<div>
    {% if user.is_authenticated %}
    <p>Name: {{ user.username }}</p>
    <p>Age: {{ user.age }}</p>
    <p>Location: {{ user.location}}</p>
    <p>Phone number: <a href="tel:{{ user.phone }}">{{ user.phone}}</a></p>
    <p>Balance: {{ user.balance|floatformat:2 }}Р</p>
    <div>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">
                Logout
            </button>
        </form>
    </div>
    {% else %}
    <p>You are not authenticated</p>
    <div>
        <a href="{% url 'login' %}">Login</a>
    </div>
    {% endif %}
</div>