{% load static %}

<main>
    <h2>Best Rent</h2>
    <p>Сайт по продаже и аренде недвижиости</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id urna at magna molestie aliquet quis at tortor. Fusce tempus rutrum ligula sed dignissim. Nullam euismod a justo a varius. Praesent cursus, nulla ac consequat facilisis, dolor tellus pellentesque tortor, ut viverra elit tortor sed tortor. Nullam congue dui erat, euismod aliquet diam placerat nec. Integer egestas placerat porta. Nullam a massa quis diam tempor consectetur. Vestibulum aliquet massa sed tincidunt cursus. Aliquam erat volutpat.</p>
    <img src="{% static 'assets/appartments_1.webp' %}" width="400">
    <p>Sed condimentum dui vehicula eros luctus, auctor dapibus justo suscipit. Vestibulum a egestas tortor, in varius ipsum. Nullam a elit eu ante porta ultrices in vel justo. Nunc posuere justo leo, eu auctor ipsum venenatis id. Mauris et dictum ligula, eget bibendum lectus. Pellentesque erat mauris, maximus ac risus vitae, feugiat consectetur quam. Donec vestibulum, sapien non aliquet bibendum, justo massa condimentum augue, eget gravida metus nunc luctus velit. Morbi molestie enim mollis velit feugiat scelerisque. Donec nec est finibus, scelerisque eros sed, luctus mauris. Aenean non ornare arcu, in malesuada mi. Ut interdum odio et semper vulputate. Nunc lobortis eget quam sed porttitor. Etiam et eros et turpis euismod fringilla.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis purus quis purus efficitur placerat. Mauris ut diam sagittis, hendrerit turpis in, placerat sapien. Quisque pretium arcu velit, id semper quam facilisis non. Ut faucibus turpis sit amet consequat tempor. Integer commodo est velit, in dictum metus suscipit quis. Suspendisse rhoncus accumsan fermentum. Suspendisse nec metus nibh. Nullam id mollis arcu. Proin volutpat faucibus nisl et viverra. Cras vel feugiat quam. Vivamus nec leo nibh. Nunc vestibulum tortor at pellentesque malesuada.</p>
</main>

<!--
    Практика:
    Добавить на сайт CSS и JS статические файлы в подпапки
    - static/css
    - static/js

    CSS-стили должны добавлять цвет фона и шрифт для текста
    JS-скрипт должен использовать alert, чтобы поприветствовать
    юзера

    Практика 2:
    Сохраните статические файлы в папку 
    staticfiles и найдите те,которые добавили вы
-->